@{
	Layout = "~/Views/Shared/_LayoutForModerator.cshtml";
}

@{
	ViewData["Title"] = "Moderator-Dashboard";
}

@model IEnumerable<StudyChat.Core.Entities.Question>

<div>

	<div class="row d-flex align-items-center justify-content-center">
		<div class="col-md-8 card p-9 border-0">
			@if (TempData["Message"] != null)
			{
				<div class="col-md-10 alert alert-success notification alert-dismissible fade show" role="alert">
					<strong>@TempData["Message"]</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
			else if (TempData["ErrorMessage"] != null)
			{
				<div class="col-md-10  alert alert-danger notification alert-dismissible fade show" role="alert">
					<strong>@TempData["ErrorMessage"]</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}
			<br />
			<h2 class="text-align-content-center text-info text-center">Moderate question from Questions pool</h2>
			<div class="row">
				<div class="col-md-12">
					<br />
					@{
						int count = Model.Count();
						int i = count;
						if (count != 0)
						{
							@foreach (var question in Model)
							{
								<div class="card p-3 mb-3">
									<h5 class="text-info">Question: @i </h5>
									<p>@question.Content</p>
									<p>Asked by: @question.UserId</p>
									<div>
										@if (@question.IsAnswered)
										{
											<p>Answered</p>
											<a href="/Moderator/Home/ShowAnswer/@question.Id" class="btn btn-info btn-primary">Show Answer</a>
										}
										else
										{
											<p>Answer: Not Answered Yet</p>
											<a href="/Moderator/Home/DeleteQuestion/@question.Id" class="btn btn-danger" onclick="return confirm('Are you sure, you want to delete this question!')">Delete</a>
										}
									</div>
								</div>
								i--;
							}
						}
						else
						{
							<div class="col-md-12 card p-2">
								<br />
								<p class="text-align content-center text-danger text-center">
									No question asked yet.
								</p>
							</div>
						}

					}
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
} 